@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://rsms.me/inter/inter.css");

body {
  @apply .font-sans .antialiased;
}

html {
  scroll-behavior: smooth;
}

input{
  @apply .appearance-none;
}

textarea{
  @apply .appearance-none;
}

.page-fade-enter-active {
    transition: all .3s ease;
    -webkit-transition: all .3s ease; /* WebKit */
    -moz-transition: all .3s ease;; /* Mozilla */
    -o-transition: all .3s ease;; /* Opera */
    -ms-transition: all .3s ease;; /* Internet Explorer */
}
.page-fade-leave-active {
    transition: all .3s ease;
    -webkit-transition: all .3s ease; /* WebKit */
    -moz-transition: all .3s ease;; /* Mozilla */
    -o-transition: all .3s ease;; /* Opera */
    -ms-transition: all .3s ease;; /* Internet Explorer */
}
.page-fade-enter, .page-fade-leave-to {
    opacity: 0;
}

.fade-enter-active {
    transition: all .3s ease;
    -webkit-transition: all .3s ease; /* WebKit */
    -moz-transition: all .3s ease;; /* Mozilla */
    -o-transition: all .3s ease;; /* Opera */
    -ms-transition: all .3s ease;; /* Internet Explorer */
}
.fade-leave-active {
    transition: all .3s ease;
    -webkit-transition: all .3s ease; /* WebKit */
    -moz-transition: all .3s ease;; /* Mozilla */
    -o-transition: all .3s ease;; /* Opera */
    -ms-transition: all .3s ease;; /* Internet Explorer */
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

button{
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear; /* WebKit */
  -moz-transition: all 0.1s linear;; /* Mozilla */
  -o-transition: all 0.1s linear;; /* Opera */
  -ms-transition: all 0.1s linear;; /* Internet Explorer */
}

.transition {
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear; /* WebKit */
  -moz-transition: all 0.1s linear;; /* Mozilla */
  -o-transition: all 0.1s linear;; /* Opera */
  -ms-transition: all 0.1s linear;; /* Internet Explorer */
}
